<div class="fixed inset-0 flex justify-center items-center swiper gallery">

  <div class="swiper-wrapper mx-auto md:h-auto flex items-center">
    <div *ngFor="let image of images"
         class="h-full w-full swiper-container flex justify-center items-center swiper-slide">
      <img
        class="w-full image object-center object-cover"
        [src]="image.path"
        alt="{{image.caption}}">
    </div>
  </div>

  <div class="absolute left-4 hidden md:flex items-center h-full z-1000">
    <button type="button"
            class="nav-prev bg-white text-black rounded-full border-r border-gray-100 py-2 hover:bg-black hover:text-white px-3">
      <div class="flex flex-row align-middle">
        <svg class="w-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd"
                d="M7.707 14.707a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 1.414L5.414 9H17a1 1 0 110 2H5.414l2.293 2.293a1 1 0 010 1.414z"
                clip-rule="evenodd"></path>
        </svg>
      </div>
    </button>
  </div>

  <div class="absolute w-full h-5 bottom-4 text-white flex items-center z-1000">
    <div class="swiper-pagination"></div>
  </div>

  <div class="absolute right-4 hidden md:flex items-center h-full z-1000">
    <button type="button"
            class="nav-next absolute-right-0 bg-white text-black rounded-full py-2 border-l border-gray-200 hover:bg-black hover:text-white px-3">
      <div class="flex flex-row align-middle">
        <svg class="w-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd"
                d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z"
                clip-rule="evenodd"></path>
        </svg>
      </div>
    </button>
  </div>

  <div class="absolute top-4 right-4 z-1000">
    <button (click)="closeGallery()" type="button"
            class="bg-white rounded-full p-2 inline-flex items-center justify-center text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500">
      <span class="sr-only">Close menu</span>
      <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="black" viewBox="0 0 24 24" stroke="currentColor"
           aria-hidden="true">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"/>
      </svg>
    </button>
  </div>


</div>



