@import "swiper/swiper-bundle.css";
@import "swiper/scss";
@import "swiper/scss/pagination";
@import "swiper/scss/navigation";

.swiper-pagination-bullet {
  width: 16px !important;
  height: 16px !important;
}

.swiper-pagination-bullet-active {
  background-color: white;
}
